################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/MvcBasic/.vs/MvcBasic
/MvcBasic/MvcBasic/App_Data
*.dll
*.xml
/MvcBasic/MvcBasic.Tests/bin/Debug
*.CopyComplete
/MvcBasic/MvcBasic.Tests/obj/Debug/MvcBasic.Tests.csproj.FileListAbsolute.txt
/MvcBasic/MvcBasic.Tests/obj/Debug/MvcBasic.Tests.pdb
/ViewTraining/ViewTraining/bin
/ViewTraining/ViewTraining/obj/Debug
/ViewTraining/ViewTraining/App_Data
/ViewTraining/.vs/ViewTraining
/ViewTraining/packages
